/*ancien code
.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/logo.jpg);
}*/


header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../img/accueil.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

